/* MAIN STYLE */

body {
    font-size: 14px !important;
}

img {
    width: 100%;
    height: auto;
}

.title-big {
    font-size: 80px;
    line-height: 99px;
    letter-spacing: 2px;
}
.title-medium {
    font-size: 35px;
}
.title-small {
    font-size: 20px;
}

.centered-title {
    text-align: center;
    margin-bottom: 30px;
}

.paragraphe-big {
    font-size: 25px;
}
.paragraphe-medium {
    font-size: 18px;
}
.paragraphe-small {
    font-size: 16px;
}
.title-italic-small {
    font-size: 18px;
    font-style: italic;
}

.btn-primary {
    background-color: rgba(246, 81, 0, 1) !important;
    border-color: rgb(196, 67, 0) !important;
    padding: 11px 15px !important;
    font-size: 16px !important;
}
.btn-primary:hover {
    opacity: 0.8;
}

/* NAVBAR STYLE */
.navbar.navbar-default {
    background-color: #ffffff;
    border: none;
    margin: 0;
}

.navbar.navbar-default .navbar-header {
    float: none;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 10%;
}

.navbar.navbar-default a.navbar-brand {
    padding-left: 30px;
}

.navbar-default .navbar-collapse {
    background-color: lightgrey;
}
.navbar-default .navbar-collapse ul#menu-primary {
    margin-left: 10%;
}
.navbar-default .navbar-collapse ul#menu-primary li a {
    padding: 10px 15px;
}

.navbar-default .navbar-brand .title {
    text-transform: uppercase;
    font-size: 25px;
    color: #2D2D2D;
}

.navbar-brand .subtitle {
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
}
.navbar-default .social-links {
    float: right;
    margin-right: 10%;
}
.navbar-default .social-links a {
    padding: 10px 10px;
    display: block;
    float: left;
    color: #2D2D2D;
}

/* FULL WIDTH BLOCKS STYLE */
.full-width-block {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 50px 20px;
}
.purple-block {
    background-color: #435494;
    color: #ffffff;
    text-align: center;
}
.blue-block {
    background-color: rgba(67, 84, 148, 1);
    color: #ffffff;
}
.purple-block p {
    margin-bottom: 25px;
}

.content-image-block {
    height: 350px;
}
.content-image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.small-blue-block {
    background-color: rgba(67, 84, 148, 1);
    color: #ffffff;
    padding: 17px 50px;
    margin-top: 33px;
    height: 280px;
    padding-top: 30px;
    margin-left: -40%;
}
.small-blue-block .content {
    top: 30%;
    position: relative;
    transform: translateY(-30%);
}

.register {
    position: absolute;
    padding: 10px;
    top: 10px;
    right: 0px;
    text-align: center;
}
.register img {
    width: 50px;
    border-radius: 25px;
}

.register a, .register a:hover, .register a:active, .register a:focus {
    text-decoration: none;
    color: #ff9900;
}
    /* FOOTER */
footer {
    padding: 50px;
    height: 120px;
    background-color: rgba(223, 223, 223, 1);
}

footer .social-links a {
    color: #777;
    margin-right: 10px;
}

/* BLOCKS WITH ALTERNATE IMG */

.content-block-regular-image {
    margin-top: 50px;
    background-color: white;
    height: 450px;
    padding: 0 !important;
}
.content-block-regular-image img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-block-regular-image .content-description {
    position: absolute;
    padding: 0 60px;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
}

.content-block-regular-image .content-description h3 {
    line-height: 30px;
}

.content-block-alternate-image {
    margin-top: 50px;
    background-color: white;
    height: 450px;
    padding: 0 !important;
}
.content-block-alternate-image img {
    width: 100%;
    max-height: 60%;
    object-fit: cover;
}
.content-block-alternate-image:nth-child(odd) img {
    position: absolute;
    top: 0;
    left: 0;
}
.content-block-alternate-image:nth-child(even) img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-block-alternate-image:nth-child(odd) .content-description {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
.content-block-alternate-image:nth-child(even) .content-description {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
.content-block-alternate-image .content-description {
    color: black;
}
.content-block-alternate-image .content-description .header {
    font-size: 18px;
    margin: 30px 0px;
}
.content-block-alternate-image .content-description .content {
    font-size: 16px;
    margin: 0 30px;
}

/* BLOCKS WITH IMG + CONTENT */
.content-block-image {
    margin-top: 50px;
    height: 100%;
    min-height: 450px;
    padding: 0 !important;
}
.content-block-image img {
    width: 100%;
    height: auto;
}
.content-block-image .content-description .header {
    font-size: 18px;
    margin: 30px 0px;
}
.content-block-image .content-description .content {
    font-size: 16px;
    padding: 0 30px;
}

/* BLOCK WITH IMAGE */
.image-full-width {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}
.image-full-width img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.image-full-width.dark img {
    filter: brightness(75%);
}
.image-full-width .center-legend {
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 45px;
}
.image-full-width .content-legend {
    position: relative;
    left: -50%;
    text-align: center;
}
/* BLOCK CONTENT + IMAGE ALIGN */
.content-2-blocks img {
    width: 100%;
    height: auto;
}
.content-2-blocks .block {
    margin: 0;
    padding: 0;
}
.content-2-blocks .content {
    display: block;
    margin-left: 30%;
    margin-top: 10%;
}
.content-2-blocks .content .header {
    font-size: 35px;
}
.content-2-blocks .content .subtext {
    font-size: 18px;
}

/* BASIC BLOCK */
.basic-block {
    padding: 5%;
}
/* IMAGE GALLERY */
.image-gallery img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}
.image-gallery .envira-lazy {
    height: 220px;
}
.page-go-solo-network .image-full-width .center-legend {
    top: 20%;
}

/* ULTIMATE MEMBER */
.um-login {
    margin-top: 80px;
}

.um-register {
    margin-top: 54px;
}

/* SPECIFIC PAGE STYLE */

/* HOME PAGE*/
.page-home .purple-block .content {
    margin: auto;
    width: 67%
}
.page-home .purple-block .content.offers {
    width: 100%;
}

.page-home .full-width-block .left-block {
    margin-top: 50px;
    padding-left: 30px;
}

.page-home .full-width-block .left-block h2 {
    margin-bottom: 30px;
    line-height: 50px;
}

.blog-posts h2 a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.blog-posts span.date {
    font-style: italic;
    font-size: 16px;
}
.blog-posts h2 {
    margin-bottom: 3px;
}
.blog-posts .blog-image {
    width: 100%;
    height: 350px;
    margin-top: 20px;
}
.blog-posts .blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-posts .excerpt {
    margin-top: 30px;
    font-size: 16px;
}
.blog-posts .single-post {
    margin-bottom: 50px;
}
.blog-posts .blog-side-bar {
    margin-left: 60px;
}
.blog-posts .blog-side-bar h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.recent-posts-widget-with-thumbnails ul a {
    display: table;
}
.recent-posts-widget-with-thumbnails ul a img, .recent-posts-widget-with-thumbnails ul a span {
    display: table-cell !important;
    vertical-align: middle !important;
}
.recent-posts-widget-with-thumbnails ul a img {
    margin: 0 10px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1000px) {

.image-full-width {
  height: 500px;
}
.title-big {
    font-size: 50px;
    line-height: 65px;
}
.paragraphe-big {
    font-size: 20px;
}
.paragraphe-medium {
    font-size: 16px;
}
}

@media only screen and (max-width: 845px) {

.image-full-width {
    height: 400px;
}
}